PharmaCare/PharmaCare/Connected Services/HospitalService/HospitalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HospitalService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HospitalService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorID" type="xs:int" />
      <xs:element minOccurs="0" name="DoctorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speciality" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomID" type="xs:int" />
      <xs:element minOccurs="0" name="WardID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
</xs:schema>