PharmaCare/PharmaCare/Connected Services/HospitalService/HospitalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HospitalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://web.tafe.mst/HospitalService/HospitalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://web.tafe.mst/HospitalService/HospitalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://web.tafe.mst/HospitalService/HospitalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HospitalService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHospitalService_getDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:getDoctor" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatient" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getPatientByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByName" />
  </wsdl:message>
  <wsdl:message name="IHospitalService_getPatientByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IHospitalService">
    <wsdl:operation name="getDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getDoctor" message="tns:IHospitalService_getDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getDoctorResponse" message="tns:IHospitalService_getDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getPatient" message="tns:IHospitalService_getPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getPatientResponse" message="tns:IHospitalService_getPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPatientByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitalService/getPatientByName" message="tns:IHospitalService_getPatientByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitalService/getPatientByNameResponse" message="tns:IHospitalService_getPatientByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHospitalService" type="tns:IHospitalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDoctor">
      <soap:operation soapAction="http://tempuri.org/IHospitalService/getDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatient">
      <soap:operation soapAction="http://tempuri.org/IHospitalService/getPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientByName">
      <soap:operation soapAction="http://tempuri.org/IHospitalService/getPatientByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HospitalService">
    <wsdl:port name="BasicHttpBinding_IHospitalService" binding="tns:BasicHttpBinding_IHospitalService">
      <soap:address location="http://web.tafe.mst/HospitalService/HospitalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>